<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="2" parallel="tests" name="Suite">
  <test thread-count="2" parallel="tests" name="BatchExeST">
    <classes>
      <class name="Practice_Maven.SampleTest2"/>
      <class name="Practice_Maven.SampleTest1"/>
      <class name="Practice_Maven.SampleTest4"/>
      <class name="Practice_Maven.SampleTest3"/>
    </classes>
  </test> <!-- BatchExeST -->
</suite> <!-- Suite -->
